.login-tab{
    padding-top: 15px;
    padding-left: 20px;
}

.social-login{
    padding-top: 15px;
}

.main-nav{
    border-bottom: #eee 1px solid;
}

.message-alert{
    color: #a94442;
    margin-top: 2px;
    text-align: left;
}

.profile-container{
    margin-top: 10px;
}

/*.movie-col{
    height: auto;
    overflow-y: scroll;
}*/

.empty{
    padding-top: 10px;
}

.add-mv-modal{
    padding: 10px;
}

.main-list{
    margin:10px;
}

.movies .bg-info{
    margin-top: 50px;
    text-align: center;
}

.movie-title{
    float: left;
    font-weight: 900;
    font-size: 18px;
}

.movie-options{
    float: left;
    margin-left: 20px;
}